.App {
  text-align: center;
}
#posts-container {
  display: flex;
  justify-content: space-around;
}
.shoes {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 325px;
}

.shoes img {
  width: 325px;
  height: 250px;
}
